---
name: Broken link check
on:
  schedule:
    - cron: 0 3 * * *
  repository_dispatch:
    types: [broken-link-check]

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: technote-space/broken-link-checker-action@v2
